$default-font: 'Roboto';

body {
  font-family: $default-font;
  margin: 0;
}

.MuiLink-root {
  text-transform: uppercase;
}

#root {
  height: 100vh !important;
}

.MuiToolbar-root {
  align-items: center;
  min-height: 64px;
  max-height: 64px;
}
a {
  color: white;
}
canvas {
  display: block;
  margin: auto;
}

